# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment variables
.env
.env.local
.env.*.local

# pnpm store / cache
.pnpm-store/
.pnpm-debug.log

# TypeScript
*.tsbuildinfo

# Local user config for your CLI
.wiz/
